body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-image: url(./video/Chemistry-notes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    background-attachment: fixed;
    background-color: #a3b18a;
}
.container {
    background-color: #a3b18a9b;
}
.heading {
    margin: 0;
    padding: 1.2rem 2rem;
}
.navbar {
    background: #3a5a40f4;
    min-height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 3px solid #151f05;
}
.vids {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /* background-color: aqua; */
    margin-bottom: 1.5vw;
}

.vid {
    min-height: 30vh;
    width: 70vw;
    background-color: #cee8a2d8;
    border: 3px solid black;
    border-radius: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1.5vw 1.5vw 0vw 1.5vw;
    padding: 1.5vw;
    gap: 2vw;
}
div h2 {
    margin-top: 0;
}

.vid  iframe {
    height: 28vh;
    max-width: 69vw ;
    border-radius: 10px;
    margin-top: 0.5rem;
}
.info {
    min-height: 28vh;
    width: 100%;
    /* background-color: red; */
}
h2 {
    color: #090e0a;
}
h3 {
    color: #1c2906;
}

@media (orientation:portrait) {
    .vids{
        margin-bottom: 2vh;
    }
    .vid {
        height: fit-content;
        width: 80vw;
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 2vh 2vh 0vh 2vh;
        padding: 2vh;
        gap: 2vw;
    }
    .vid iframe {
        /* height: 28vh; */
        padding: 0;
        margin: 0;
        max-width: 80vw ;
        border-radius: 0px;
    }
    .heading {
        font-size: 4vh;
        margin: 0;
    }
}